<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studentLeaveReview.dao.UserMapper">
    <select id="selectUser" resultType="studentLeaveReview.pojo.User">
        select username, password, type
        from users
        where username = #{username};
    </select>
</mapper>